body {
    align-content: center;
    justify-content: center;
    color: #ffffff;
    background-color: #06080C;

}
.selector-for-some-widget {
    box-sizing: content-box;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


/*NAVBAR*/

.nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: #06080C ;
    position: fixed;
    z-index: 899;
}


.navbar {
    position: fixed;
    z-index: 900;
    width: 90%;
    height: 10vh;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar-nav,
.form-inline {
    margin-right: 10vh;
}

.navbar-nav li {
    margin-right: 5vh;
}

.navbar-brand {
    margin-left: 10%;
    width: 10vh;
}

.button-nav {
    color: #E5225E;
    border-color: #E5225E;
}

.button-nav:hover {
    background-color: #7d082b;
    color: #ffffff;
    border-color: #E5225E;
}

.navbar-toggler {
    color: #E5225E;
    border-color: #E5225E;
}





/*CAROUSEL*/

.box-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 800;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: antiquewhite;
}

.h1-carousel {
    font-size: 4rem;
    font:700px;
    text-align: center;
}

.h2-carousel {
    margin: 5%;
    font-weight:400;
}

.h1-carousel, .h2-carousel {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.button-carousel {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100px;
    height: 100px;
    color: #E5225E;
    font-weight: 600;
    border-color: #E5225E;
    border-radius: 50%; 
    border: 8px solid #E5225E; 
    shape-outside: margin-box;
    text-decoration: none;
    background-color: #380414;
    text-align: center; 
    line-height: 1.4;
}

.button-carousel:hover {
    background-color: #7d082b;
    color: #ffffff;
    border:6px #E5225E;
}

/*SEARCH NAV*/


.search-bar {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 100px;
}

hr {
    border: 1px solid #E5225E;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}


/*TRENDIG*/


.trending {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 10vh;

}

.movie-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 10vh;

}

.movie {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

.movie-img {
    height: 18rem;
    border-radius: 10px;
}



/*Acclamaid*/


.acclaimed-container {
    margin: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;;
}

.acclaimed-tittle {
    margin-bottom: 30px;
}
.aclaimed {
    display: flex;
    flex-direction: row;
}

.aclaimed .movie-container {
    margin: 0 10px;
}

footer {
    width: 100%;
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-style: italic;;
}


.header-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: aquamarine;
    box-shadow: #06080C;
}


/*MOVIE*/

/*CAROUSEL MOVIE*/

.box-display-movie {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 800;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: antiquewhite;
}

.text-display-movie{
    display: flex;
    flex-direction: column;
    width: 80vh;
    height: 40vh;
    margin:50px;
    justify-content: space-evenly;
}

.credits-box{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vh;
    text-shadow: black;
}


.background-movie{
    background-color: blueviolet;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(205, 17, 99, 0.3);
}



/*FRUTI CARD*/

#card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-evenly;
    align-items: center;
    }
  
.card {
    display: flex;
    align-items: center;
    width: 10vw;
    margin: 20px;
    border-radius: 8px 8px 8px 8px;
    padding-bottom: 6px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    transition: transform 0.5s ease;
    color: #fff;
    background-color: #06080C;
    box-shadow: 1px 3px 10px rgb(73, 7, 51);
    }
  
.card:hover {
    transform: scale(1.1);
    }

.img-card {
    border-radius: 8px 8px 0px 0px;
    width: 10vw;
    height: 15vw;
    }

.name-card {
    font-size:medium;
    margin: 4px;
    color: aliceblue;
}

.view-card {
    color: #E5225E;
}

/* Agregar una clase de estilo según las vistas*/
.more-views {
    font-size:medium;
    margin: 0%;
    color: rgb(0, 251, 255);
    box-shadow: 5px 5px 10px rgb(4, 67, 64);
}

.more-aclamaid{
    font-size:medium;
    margin: 0%;
    color: rgb(6, 18, 149);
    box-shadow: 5px 5px 10px rgb(4, 67, 64);
}

/*SOCIAL MEDIA MOVIE*/

.socialmedia-box{
    margin: 10% 5%;
    display: flex;
    flex-direction: wrap;
    justify-content: space-around;
    align-items: center;
}

.trailer-box{
    margin: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 40%;
}

.social-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40%;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 50px;
    margin: 10px;
}

.social-img {
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    flex-direction: row;
}

.info-column {
    margin: 50px;
}

/*REGISTER-LOGIN*/


.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #39a0e9;
}

.form-box {
    text-align: center;
    margin-bottom: 20px; 
}


form {
    width: 30%;
    height: 600px;
    padding: 1%; 
    border-radius: 10px;
    background-color: #121212;
    box-shadow: 5px 10px 20px 10px rgba(121, 7, 49, 0.2);
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

}


.form-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


input {
    width: 80%;
    padding: 6px;
    border-radius: 20px;
    border-color: #7d082b;
    background-color: rgb(23, 23, 23);
    margin: 10px;
    text-decoration: none;
    color: #fff;
    
}


input::placeholder{
    color: aliceblue;

}

#fecha_nacimiento{
    padding: 6px;
    color: aliceblue;

}

#pais{
    width: 44vh;
    padding: 6px 10px 6px 10px;
    color: aliceblue;
    border-radius: 20px;
    border-color: #7d082b;
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 40px;
}

.btn-form{
    margin-top: 10px;
    text-decoration: none;
    padding: 10px;
    width: 44vh;
    border-radius: 30px;
    background-color: #7d082b;
    color: #ffffff;
    border-color: #E5225E;

}

.btn-box{
    display: flex;
    flex-direction: column;  
    margin-bottom: 30px;
}


.img-login{
    width: 200px;
    height: 200px;;
}
